/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin'; // Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic-ext'); // Mixin for include fonts
// @include font-face("ArialMT", 'fonts/CenturyGothic', normal, normal);
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
// @import 'core/breadcrumb';
// @import 'core/pagination';
@import 'core/buttons';
// @import 'core/video';

@import 'vendor/modal';
@import 'vendor/slick';

@font-face {
    font-family: 'orion';
    src: url("../fonts/orion.ttf?yaprfh") format('truetype'), url("../fonts/orion.woff?yaprfh") format('woff'), url("../fonts/orion.svg?yaprfh#orion") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'orion' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bitcoin:before {
    content: "\e900";
}

.icon-caret:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\e902";
}

.icon-github:before {
    content: "\e903";
}

.icon-linkedin:before {
    content: "\e904";
    font-size: 0.9em;
}

.icon-telegram:before {
    content: "\e905";
}

.icon-twitter:before {
    content: "\e906";
    font-size: 0.8em;
}

.icon-youtube:before {
    content: "\e907";
    font-size: 0.8em;
}

.logo {
    max-width: 10em;
    display: block;
}

.lang {
    display: flex;
    align-items: center;
    color: $color_withe;
    font-weight: 500;
    cursor: pointer;
    border-radius: 1.6em;
    background-color: rgba(224, 224, 255, 0.02);
    padding: 0.7em;
    transition: background-color 0.3s;
    font-size: 1em;

    @media (max-width: 767px) {
        display: inline-flex;
    }

    &:hover {
        background-color: rgba(224, 224, 255, 0.05);
    }

    &__flag {
        margin-right: 0.8em;

        img {
            display: block;
            width: 1.5em;
            height: 1.5em;
        }
    }

    .header & {
        padding-right: 1.1em;
    }

}

.fScreen {
    background: url("../img/f-bg.png") center bottom no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 0 10.7em;
    overflow: hidden;

    &__content {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__descr {
        flex: none;
        position: relative;
        z-index: 1;
        // padding-left: 0.5em;

        @media (min-width: 768px) {
            padding-top: 9em;
            max-width: 45%;
            order: 0;
        }

        @media (max-width: 767px) {
            &_noimg {
                padding-top: 6.2em;
                margin-bottom: -5.5em;
            }
        }
    }

    &__sub {
        color: rgba(224, 224, 255, 0.6);
        font-size: 1.15em;
        font-weight: 500;
        line-height: 1.8;
        margin-bottom: 1.6em;
        letter-spacing: 0.1em;
    }

    &__action {
        margin: 0 -0.8em;

        .btn {
            margin: 0 0.8em 1em;
        }
    }

    &__img {
        img {
            display: block;
            z-index: 0;

            @media (min-width: 768px) {
                max-width: none;
                position: relative;
                right: 6.6em;
                width: 50em;
            }
        }

        @media (min-width: 768px) {
            order: 1;
        }

        @media (max-width: 767px) {
            margin: 3em -1em 0;
        }
    }

}

.section {
    transition: height 0.3s;

    &__name {
        color: #00bbff;
        font-size: 0.813em;
        font-weight: 600;
        letter-spacing: 0.06em;
        line-height: 1.85;
        text-transform: uppercase;
        margin-bottom: 1em;
        margin-bottom: 1.9em;

        @media (min-width: 768px) {
            padding-left: 0.6em;
        }
    }

    &__title {
        font-size: 3em;
        font-weight: 700;
        letter-spacing: -0.0425em;
        line-height: 1.4;
        margin: 0 0 1em;
    }

}

.traiding {
    margin-top: -5.5em;
    margin-bottom: 7.8em;
    position: relative;
    z-index: 3;

    &__content {
        // align-items: flex-end;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__img {

        @media (min-width: 768px) {
            flex: none;
            width: 59.8%;
            padding-bottom: 7.5em;

            img {
                display: block;
                margin-left: -2.2em;
                max-width: none;
                width: 42.9em;
                // margin-right: -2.4em;
            }
        }

    }

    &__descr {
        padding-top: 2em;

        @media (min-width: 768px) {
            padding-top: 8em;
        }
    }

    &__text {
        font-size: 1.15em;
        color: rgba(20, 16, 41, 0.6);
        font-weight: 500;
        line-height: 1.8;
    }

    &__action {
        margin-top: 1.9em;
    }

}

.features {
    background-color: #202036;
    color: $color_withe;
    position: relative;
    // padding-bottom: 0em;
    margin-bottom: 7.7em;
    position: relative;
    z-index: 2;

    &:after,
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    &:before {
        top: -14em;
        background-image: url("../img/features-top.png");
        background-position: center top;
        height: 14em;
    }

    &:after {
        bottom: -9.5em;
        background-image: url("../img/features-bottom.png");
        background-position: center bottom;
        height: 12em;
    }

    .section {
        &__title {
            span {
                display: block;
                color: #00bbff;
            }
        }
    }

    &__content {

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__left {

        @media (min-width: 768px) {
            flex: none;
            width: 51.2%;
            padding-right: 2em;
            position: relative;
            z-index: 1;
        }
    }

    &__action {}

    &__right {}

    &__list {
        margin: 3.5em 0 0;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: 0.5em -1em 0;
        }
    }

    &__item {
        box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.24), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.24), 0 0 0.063em rgba(20, 16, 41, 0.4);
        border-radius: 1.5em;
        background-color: rgba(51, 51, 75, 0.24);
        padding: 1em;
        margin: 0 0 1em;
        position: relative;

        @media (min-width: 768px) {
            margin: 1em;
            width: calc(50% - 2em);

            &:nth-child(even) {
                top: -4.4em;
            }
        }

    }

    &__icon {
        width: 6em;
        height: 6em;
        background-color: rgba(0, 187, 255, 0.03);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 1.5em;

        img {
            max-width: 46%;
            display: block;
        }
    }

    &__name {
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 0.9em;
    }

    &__text {
        color: rgba(224, 224, 255, 0.6);
        font-size: 0.875em;
        font-weight: 500;
        line-height: 1.5;
    }

}

.earning {
    position: relative;
    z-index: 1;

    &__content {

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__img {

        @media (min-width: 768px) {
            flex: none;
            width: 60%;
            padding-bottom: 30px;

            img {
                display: block;
                margin-left: -7.5em;
                margin-top: -5.6em;
                max-width: none;
                position: relative;
                z-index: -1;
                width: 44.2em;
            }
        }
    }

    &__desc {}

    &__text {
        color: rgba(20, 16, 41, 0.6);
        font-size: 1.25em;
        font-weight: 500;
        line-height: 1.8;
        padding-bottom: 7.7em;
    }

    &__action {
        margin-top: 2.2em;
    }

}

.product {
    color: $color_withe;
    background: url("../img/products-bg.svg.png") center no-repeat;
    background-size: cover;
    margin-top: -1.8em;
    padding: 6em 0 6.6em;

    @media (min-width: 768px) {
        margin-top: -4.8em;
        padding: 7.5em 0 5.2em;
        background-size: 100% 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
            // padding: 0;
        }
    }

    &__descr {
        padding-top: 2em;
        order: 1;

        @media (min-width: 768px) {
            padding-right: 2em;
            padding-top: 6em;
            order: 0;
            width: 44.9%;
        }
    }

    &__text {
        color: rgba(224, 224, 255, 0.6);
        font-size: 1.25em;
        font-weight: 500;
        line-height: 1.8;
        margin-bottom: 1.5em;
    }

    &__change {
        // &:empty {
        //     .section__title {
        //         margin-bottom: 0;
        //         transition: 0.3s;
        //         opacity: 0;
        //         transition-property: margin-bottom opacity;
        //     }
        //
        //     .product {
        //         &__text {
        //             margin-bottom: 0;
        //             transition: 0.3s;
        //             opacity: 0;
        //             transition-property: margin-bottom opacity;
        //         }
        //     }
        // }
        //
        // &:not(:empty) {
        //     .section__title {
        //         margin-bottom: 1em;
        //         transition: 0.3s;
        //         opacity: 1;
        //         transition-property: margin-bottom opacity;
        //     }
        //
        //     .product {
        //         &__text {
        //             margin-bottom: 1.5em;
        //             transition: 0.3s;
        //             opacity: 1;
        //             transition-property: margin-bottom opacity;
        //         }
        //     }
        // }
    }

    &__img {
        flex: none;
        position: relative;

        @media (min-width: 768px) {
            width: 55.1%;
            order: 1;
            padding-bottom: 1.9em;
        }
    }

    &__list {

        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__name {
        cursor: pointer;
        padding: 0.8em 1.6em;
        box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.06), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);
        border-radius: 0.75em;
        font-size: 1em;
        font-weight: 600;
        line-height: 1.5;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.15) url("../img/Rectangle.png") 0 0;
        transition: background 0.3s;

        &.highlight {
            background: rgba(255, 255, 255, 0.75) url("../img/Rectangle.png") 0 0;
            color: #202035;
        }

        @media (min-width: 768px) {
            position: absolute;

            &:first-child {
                left: 0.3em;
                top: 15.2em;

                &:before {
                    // background-size: 288%;
                    // background-position: left -1.2em center;
                    // background-color: rgba(255, 255, 255, 0.8);
                }
            }

            &:nth-child(2) {
                right: -2.8em;
                top: 14.6em;
            }

            &:nth-child(3) {
                left: 2.4em;
                bottom: 3em;
            }

            &:nth-child(4) {
                right: -2em;
                bottom: 3em;
            }
        }

        @media (max-width: 767px) {
            margin-bottom: 1em;
        }

    }

}

.partners {
    margin-bottom: 4.4em;

    .section__title {
        // max-width: 8em;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__list {

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -1em;
            padding-top: 3em;
        }

        @media (max-width: 767px) {
            order: 2;
            margin-top: 2em;
        }
    }

    &__item {
        margin: 0 0 1em;
        box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.06), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);
        border-radius: 1.5em;
        background-color: #ffffff;
        padding: 1em 0.9em 1em 1em;

        @media (min-width: 768px) {
            margin: 1em;
            width: calc(50% - 2em);
            position: relative;

            &:nth-child(odd) {
                top: -4.7em;
            }
        }
    }

    &__icon {
        width: 6em;
        height: 6em;
        background-color: rgba(18, 105, 171, 0.03);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 1em;

        img {
            max-width: 47%;
            display: block;
        }
    }

    &__name {
        color: rgba(20, 16, 41, 0.6);
        font-size: 0.875em;
        font-weight: 600;
        letter-spacing: 0.063em;
        line-height: 1.71;
        text-transform: uppercase;
        margin-bottom: 0.3em;
    }

    &__title {
        color: rgba(20, 16, 41, 0.8);
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 0.9em;
    }

    &__txt {
        color: rgba(20, 16, 41, 0.6);
        font-size: 0.875em;
        font-weight: 500;
        line-height: 1.71;
    }

    &__descr {
        flex: none;
        padding-top: 0;

        @media (min-width: 768px) {
            width: 40%;
            padding-top: 6.4em;
            margin-left: 7.9em;
        }
    }

    &__text {
        color: rgba(20, 16, 41, 0.6);
        font-size: 1.25em;
        font-weight: 500;
        line-height: 1.8;
    }

    &__action {
        margin-top: 2em;
    }

}

.footer {
    font-size: 1em;
    position: relative;
    padding: 3em 0 2em;
    background-color: #202036;
    color: rgba(224, 224, 255, 0.6);

    &__content {
        max-width: $container_width;
        margin: auto;
        padding: 0 1em;
    }

    &__top {
        margin-bottom: 3.4em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 768px) {}

        @media (max-width: 767px) {
            flex-wrap: wrap;

            .logo {
                width: 100%;
                display: block;
                max-width: none;
                margin-bottom: 2em;
                text-align: center;
            }
        }
    }

    &__nav {
        margin-bottom: 2.2em;

        @media (min-width: 768px) {
            margin-bottom: 4.2em;
        }
    }

    &__bottom {
        font-size: 0.88em;
        display: flex;
        justify-content: space-between;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            @media (max-width: 767px) {
                margin-bottom: 1em;
            }
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__copy {}

    &__dev {
        a {
            color: #ffffff;
        }
    }

    .lang {
        flex: none;

        @media (min-width: 768px) {
            margin: 0 3.1em 0 3.2em;
        }

        @media (max-width: 767px) {
            display: inline-flex;
        }

        &__flag {
            margin-right: 0;
        }

    }

    .form {
        @media (min-width: 768px) {
            margin-right: 3.1em;
        }
        @media (max-width: 767px) {
            // margin-top: 2em;
            display: inline-flex;
            flex-grow: 1;
            margin-left: 3em;

            input {
                width: 100%;
            }
        }
        @media (max-width: 767px) {}
    }

    .navbar {
        @media (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {}

        &__link {
            text-transform: uppercase;
            // font-weight: 500;
            // font-size: 1em;
        }

    }

}

.soc {
    display: flex;
    // flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    @media (max-width: 767px) {
        flex-grow: 1;
        margin-top: 2em;
    }

    &__item {
        margin-right: 1.35em;

        &:last-child {
            margin-right: 0;
        }

        &:hover {}
    }

    a {
        display: inline-block;
        color: rgba(224, 224, 255, 0.6);
        font-size: 1.25em;
        width: 2.5em;
        height: 2.5em;
        border-radius: 1.5em;
        background-color: rgba(224, 224, 255, 0.02);
        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color color 0.3s;

        text-decoration: none;
        // @include trs(0.3s);

        &:hover {
            // opacity: .8;
            // font-size: 1.8em;
            // transform: scale(1.1);

            background-color: rgba(224, 224, 255, 0.1);
            color: #00bbff;
        }

        &:before {
            // content: 'soc';
            // color: #fff;
            // text-decoration: none;

        }
    }

    @media (max-width: 767px) {
        justify-content: space-between;

        &__item {
            margin-right: 0;
        }
    }
}

.team {
    &__list {
        margin: 0 -1em;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 5em;
    }

    &__item {
        box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.06), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);
        border-radius: 1.5em;
        background-color: #ffffff;
        padding: 1em 0.9em 1em 1em;
        margin: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;

        &.more {
            // align-self: flex-start;

            .team {
                &__short {
                    display: none;
                }

                &__full {
                    display: block;
                }
            }
        }

        @media (min-width: 768px) {
            width: calc(33.3% - 2em);
            min-height: 20em;
        }
    }

    &__top {
        display: flex;
        margin-bottom: 1em;
    }

    &__left {
        order: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: flex-start;
    }

    &__name {
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 0.4em;
    }

    &__exp {
        font-size: 0.7em;
        text-transform: uppercase;
        color: rgba(20, 16, 41, 0.6);
        max-width: 11em;
        margin-bottom: 0.5em;
        flex-grow: 1;
    }

    &__img {
        order: 2;
        flex: none;
        width: 30%;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.06), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);

        @media (min-width: 768px) {
            margin-left: 2em;
        }

        img {
            display: block;
        }
    }

    &__full,
    &__short {
        margin-bottom: 20px;
        flex-grow: 1;
        color: rgba(20, 16, 41, 0.6);
        font-size: 0.875em;
        font-weight: 500;
        line-height: 1.71;
    }

    &__full {
        display: none;
    }

    &__bottom {
        margin-top: 0.3em;
    }

    &__more {
        color: #00bbff;
        font-size: 0.813em;
        font-weight: 600;
        letter-spacing: 0.06em;
        line-height: 1.85;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;

        &:after {
            content: '';
            width: 0;
            border-bottom: 0.1em solid;
            transition: width 0.3s;
            display: block;
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    .icon-linkedin {
        text-decoration: none;
        color: darken(#00bbff, 20%);

        &:hover {
            color: #00bbff;
        }
    }

}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2em;
    font-size: 0.8em;
    // margin-top: 3em;

    label {
        padding-left: 2em;
        width: 50%;
        display: flex;
        align-items: flex-start;
        line-height: 1.4;
        margin-bottom: 0.6em;
        min-height: 3em;

        @media (min-width: 768px) {
            width: 33.3%;
        }

        [type=checkbox] {
            flex: none;
            margin-right: 0.5em;
            margin-top: 0;
            font-size: 1.1em;
        }
    }
}

.select2 {
    &-hidden-accessible {
        display: none;

        &.invalid {
            + .select2-container--default {
                .select2-selection {
                    border-color: red;
                    background-color: #fff0f0;
                }
            }
        }
    }

    &-search__field {
        display: none;
    }

    &-container {
        span {
            display: block;
        }

        .form__row & {
            width: 100% !important;
            // display: block;
        }

        &--open {
            z-index: 1050;

            &.select2-container--default .select2-selection--single .select2-selection__arrow b {
                transform: rotate(-225deg);
                margin-top: 0.4em;
            }
        }

        &--default {
            .select2 {
                &-results {
                    &__options {
                        list-style: none;
                        padding: 8px 0;
                        margin: 0;
                    }

                    &__option {
                        padding: 10px 25px;
                        cursor: pointer;

                        &--highlighted[aria-selected] {
                            background-color: rgba(#000, .1);
                        }
                    }
                }

                &-dropdown {
                    position: absolute;
                    // z-index: 150;
                    background-color: #fff;
                    border-radius: 6px;
                    margin-top: 3px;
                    box-shadow: 0 1px 10px rgba(#000, .1);

                    &--below {}

                    &--above {}
                }

                &-selection {
                    padding: 0.9em 1em;
                    border: 0.06em solid rgba($main_color, 0.1);
                    // box-shadow: 0 0.1em 0.46em rgba(20, 16, 41, 0.1);
                    border-radius: 1.5em;
                    color: $main_color;
                    outline: 0;
                    position: relative;
                    font-weight: 500;
                    font-size: 1em;

                    &:hover {
                        // box-shadow: 0 0.1em 0.36em rgba(20, 16, 41, 0.1);
                        border: 0.06em solid rgba($main_color, 0.3);
                    }

                    &:focus {
                        border: 0.06em solid rgba($main_color, 0.3);
                        // box-shadow: none;
                    }

                    &--single {
                        .select2 {
                            &-selection {
                                &__rendered {}

                                &__placeholder {
                                    color: rgba(0, 0, 0, 0.4);
                                }

                                &__arrow {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    width: 3em;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    b {
                                        display: block;
                                        width: 0.8em;
                                        height: 0.8em;
                                        border-left: 0.063em solid rgba(0, 0, 0, 0.6);
                                        border-bottom: 0.063em solid rgba(0, 0, 0, 0.6);
                                        transform: rotate(-45deg);
                                        margin-top: -0.4em;
                                        transition: transform 0.3s;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.product__slider {
    margin: 0 -1em;
    display: none;
    position: relative;

    @media (min-width: 768px) {
        margin: 0 -2em;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1em;
        background-color: #1f2036;

        @media (min-width: 768px) {
            width: 2em;
        }
    }

    &.slick-initialized {
        display: block;
    }

    .slick {
        &-slide {
            outline: 0;
            margin: 0 1em;
            // opacity: 0;
            padding-bottom: 2em;
            transition: opacity 0.3;
        }

        &-list {
            // max-width: 740px;
            margin: auto;
            padding: 0;
        }

        &-current {
            opacity: 1;
        }

        &-arrow {
            position: absolute;
            border: none;
            font-size: 0;
            background-color: transparent;
            width: 30px;
            height: 30px;
            top: 50%;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                opacity: 0.8;
            }

            &:after,
            &:before {
                content: '';
                position: absolute;
                left: 0;
                color: #fff;
                border: 2px solid;
                width: 100%;
            }

            &:before {
                top: 2px;
                transform: rotate(45deg);
            }

            &:after {
                bottom: 2px;
                transform: rotate(-45deg);
            }
        }

        &-next {
            right: 0;

            &:before {}
        }

        &-prev {
            left: 0;
            transform: rotate(180deg);

            &:before {}
        }

        &-dots {
            display: flex;
            margin: 0 1em 4em;
            padding: 0;
            list-style: none;
            justify-content: center;

            @media (min-width: 768px) {
                margin: 0 2em 3em;
            }

            li {
                // background-color: rgba($color_withe, 0.1);
                position: relative;
                // margin: 0 0.1em;
                cursor: pointer;

                @media (max-width: 767px) {
                    width: 1em;
                    height: 1em;
                    background-color: rgba($color_withe, 0.6);
                    border-radius: 50%;
                    margin: 0 0.5em;
                }

                @media (min-width: 768px) {
                    margin: 0 0.1em;
                    padding: 1em 0;
                    flex-grow: 1;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0.9em;
                        left: 0;
                        bottom: 0.9em;
                        background-color: #00bbff;
                        width: 0;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0.9em;
                        left: 0;
                        bottom: 0.9em;
                        background-color: rgba($color_withe, 0.1);
                        width: 100%;
                    }

                }

                &.slick-active {
                    @media (max-width: 767px) {
                        background-color: #00bbff;
                    }

                    &:after {
                        // transition: width 6s;
                        // width: 100%;

                        @media (min-width: 768px) {
                            width: 100%;
                            animation: progress 6s;
                        }
                    }
                }

                button {
                    display: none;
                }
            }
        }
    }
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
