// Style for button and pseudo button for input and link

.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	max-width: 100%;
	transition: box-shadow 0.3s;
	position: relative;
	z-index: 1;
	overflow: hidden;

	padding: 0.8em 1.5em;

	color: #ffffff;
	font-size: 1em;
	font-weight: 600;
	line-height: 1.5;
	box-shadow: 0 0.5em 0.5em -0.25em rgba(0, 187, 255, 0.12), 0 1em 1.5em rgba(0, 187, 255, 0.24), 0 0.125em 0.25em -0.062em rgba(10, 70, 82, 0.12), 0 0 0.063em rgba(0, 187, 255, 0.24);
	border-radius: 1.5em;
	background-color: transparent;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		background-image: linear-gradient(135deg, #00ffaa 0%, #00bbff 53%, #4579f5 100%);
		z-index: -1;
		transition: 0.3s;
	}

	&:hover {
		&:before {
			width: 130%;
		}
	}

	&:active {
		box-shadow: none;
	}

	&:disabled {
		box-shadow: none;
		opacity: 0.5;
		cursor: default;
	}

	&_primary {
		box-shadow: 0 0.5em 0.5em -0.25em rgba(0, 187, 255, 0.06), 0 1em 1.5em rgba(0, 187, 255, 0.12), 0 0.125em 0.25em -0.062em rgba(27, 10, 82, 0.06), 0 0 0.063em rgba(0, 187, 255, 0.12), inset 0 0.125em 0.375em rgba(0, 187, 255, 0.4);
		// border-radius: 1.5em;
		&:before {
			background-image: linear-gradient(135deg, #33334b 0%, #27273e 50%, #202036 100%);
		}
	}
}
