.form {
	&__row {
		margin-bottom: 1em;

		.btn,
		input:not([type]),
		input[type=datetime],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 7em;
			resize: vertical;
		}
	}

	&__rezult {
		font-weight: 700;
		color: #00bbff;
		text-align: center;

		&:not(:empty) {
			margin-top: 2em;
		}
	}

	&__label {}

	&__action {
		margin-top: 2em;
	}

	&_inline {
		display: flex;

		input {
			border-radius: 0.25em 1.5em 1.5em 0.25em;
			width: 100%;
		}

		.btn {
			padding-left: 1.3em;
			padding-right: 1.3em;
			margin-left: -3em;

			i {
				font-size: 0.75em;
			}
		}
	}
}
// Input text and textarea ================================================
input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	// background-color: $input_bg_color;
	border: 0.06em solid rgba(224, 224, 255, 0.02);
	outline: none;
	font-size: 1em;
	padding: 0.5em 1em;
	font-weight: 500;
	font-family: $main_font_family;
	border-radius: 0.25em 1.5em 1.5em 0.25em;
	background-color: rgba(224, 224, 255, 0.02);
	transition: all 0.3s;
	color: rgba(224, 224, 255, 0.7);

	.modal & {
		padding: 0.9em 1em;
		border: 0.06em solid rgba(224, 224, 255, 0.2);
		box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.06), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);
		border-radius: 1.5em;
		color: $main_color;

		&:hover {
			box-shadow: 0 0.5em 0.5em -0.05em rgba(20, 16, 41, 0.06), 0 0.125em 0.05em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);
			border: 0.06em solid rgba(224, 224, 255, 0.1);
			// background-color: $input_hover_bg_color;
		}

		&:focus {
			border: 0.06em solid rgba(224, 224, 255, 0.3);
			box-shadow: none;
			// background-color: $input_focus_bg_color;
		}

		@include placeholder {
			color: rgba(0, 0, 0, 0.4);
			font-weight: 500;
		}
	}

	&:hover {
		border: 0.06em solid rgba(224, 224, 255, 0.1);
		// background-color: $input_hover_bg_color;
	}

	&:focus {
		border: 0.06em solid rgba(224, 224, 255, 0.2);
		// background-color: $input_focus_bg_color;
	}

	&.invalid {
		background-color: #fff0f0;
		border: 0.06em solid red;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: rgba(224, 224, 255, 0.6);
		font-weight: 500;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 1.4em;
	width: 1.4em;
	border: 0.06em solid rgba(224, 224, 255, 1);
	border-radius: 0.2em;
	overflow: hidden;
	// margin-top: -4px;
	vertical-align: middle;
	appearance: none;
	outline: 0;
	background: 0 0;
	text-align: center;
	position: relative;
	box-shadow: 0 0.5em 0.5em -0.25em rgba(20, 16, 41, 0.06), 0 0.125em 0.25em -0.062em rgba(20, 16, 41, 0.06), 0 0 0.063em rgba(20, 16, 41, 0.12);

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		display: block;
	}

	&:disabled,
	&:disabled {
		border-color: #ddd;
	}
}

input[type=radio] {
	border-radius: 50%;

	&:checked:before {
		content: '';
		width: 6px;
		height: 6px;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -3px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background: #000;
	}

	&:disabled:checked:before {
		background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
		content: "";
		// font-size: 1em;
		width: 0.7em;
		height: 0.4em;
		border-left: 0.16em solid #202036;
		border-bottom: 0.16em solid #202036;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		transform: rotate(-45deg);
		// line-height: 13px;
		color: #202036;
	}

	&:indeterminate:before {
		content: "\f068";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		color: #aaa;
	}
}
