extends template.pug

block content
    // begin fScreen
    section#home.fScreen.section
        .container_center
            .fScreen__content
                .fScreen__descr
                    h1.section__title ABOUT US
                    .fScreen__sub The team and advisors to get the job done, Orion blah blah blah blah blah blah blah.

    // end fScreen

    // begin team
    section#team.team.section
        .container_center
            h2.section__title TEAM

            .team__list
                .team__item
                    .team__top
                        .team__left
                            .team__name ALEXEY KOLOSKOV
                            .team__exp CHIEF EXECUTIVE OFFICER
                        .team__img
                            img(src="img/team/Koloskov.jpg", alt="")
                    .team__descr Alexey is a blockchain developer and the chief architect and creator of the Waves decentralised exchange (Waves’ DEX). He has extensive experience in building complex blockchain solutions …
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Kal Ali
                            .team__exp CHIEF OPERATING OFFICER
                        .team__img
                            img(src="img/team/Kal.jpg", alt="")
                    .team__descr Founding partner at Kanix and Blockchain strategic advisor for several projects, specializing in business development and partnerships ...
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Eduardo Moreira
                            .team__exp Head of Development
                        .team__img
                            img(src="img/team/Eduardo.jpg", alt="")
                    .team__descr MBA from the Nottingham University Business School and CEO and founder of development firm EYSS, closely meshed within the Holochain ecosystem with intimate links to the Holo team ...
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Yanush Ali
                            .team__exp Director of Communications
                        .team__img
                            img(src="img/team/Yanush.jpg", alt="")
                    .team__descr Co-Founder and Managing Partner of Kanix, and is an experienced strategic fundraising consultant, provided marketing for Holochain, Morpheus Network, and Pchain ...
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name SIMON KRUSE
                            .team__exp LEAD BACKEND DEVELOPER
                        .team__img
                            img(src="img/team/Kruse.jpg", alt="")
                    .team__descr A professional Software developer, ambassador and blockchain fanatic from many other projects such as BountyOx and also Block Collider, helping them with management, advisory, and dev work …
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name EDUARD ZAYDEL
                            .team__exp LEAD FRONTEND ENGINEER
                        .team__img
                            img(src="img/team/Zaydel.jpg", alt="")
                    .team__descr Eduard is a former Waves Wallet developer with considerable proficiency in user interface design. His work in the field will allow ORION to provide customers with a clean, ...
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name ALEX MASLAKOV
                            .team__exp LEAD BLOCKCHAIN ENGINEER
                        .team__img
                            img(src="img/team/Maslakov.jpg", alt="")
                    .team__descr Blockchain RUST developer and consultant, responsible for implementing Orion dApps on Holochain ...
                    .team__bottom
                        a.team__more(href="#") Read more

    // end team

    // begin advisors
    section#advisors.team.section
        .container_center
            h2.section__title ADVISORS

            .team__list
                .team__item
                    .team__top
                        .team__left
                            .team__name David Atkinson
                            .team__exp Advisor
                        .team__img
                            img(src="img/team/David_A.jpg", alt="")
                    .team__descr David is one of the core masterminds at Holo and loves to help people and businesses that are driven by purpose and a deep understanding and love for what they do. He is a member of the leadership team and focuses on business, community, and ecosystem growth, all of which have been integral in Holochain and Holo’s immense achievements.
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Damon Nam
                            .team__exp Advisor
                        .team__img
                            img(src="img/team/Nam.jpg", alt="")
                    .team__descr A 20 year IT professional, Microsoft alumnus, and currently the Founder and CEO of Coinvest. …
                    .team__bottom
                        a.team__more(href="#") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Jingyuan Ye
                            .team__exp Advisor
                        .team__img
                            img(src="img/team/Ye.jpg", alt="")
                    .team__descr The chairman of prominent digital asset management firm, Point95 Global. VP of Global Market Division at Bank of America Merrill Lynch …
                    .team__bottom
                        a.team__more(href="#") Read more

    // end advisors
