extends template.pug

block content
    // begin fScreen
    section#home.fScreen.section
        .container_center
            .fScreen__content
                .fScreen__descr.fScreen__descr_noimg
                    .section__name
                    h1.section__title ABOUT US
                    .fScreen__about
                        p.fScreen__about__header The future is decentralized. And so are we.
                        p.fScreen__about__strong WE ARE ORION, the only DeFi platform creating a truly decentralized crypto landscape for businesses + consumers.
                        p.fScreen__about__text <b>We innovate. We evolve. But we stay true to the fundamentals of crypto.</b>
                        p.fScreen__about__text <b>Our trading terminal aggregates the liquidity of the entire crypto market into one place,</b> embedding robust tools for the most intelligent trades at the best price, every time. <b>Our Shared Liquidity Pool underpins our DeFi solutions,</b> built to provide the crypto market with the liquidity, accessibility, and growth it needs to succeed. <b>And at our core? Our ORN token,</b> the invaluable fuel powering our ecosystem.

    // end fScreen

    // begin team
    section#team.team.section
        .container_center
            h2.section__title TEAM

            .team__list
                .team__item
                    .team__top
                        .team__left
                            .team__name ALEXEY KOLOSKOV
                            .team__exp CHIEF EXECUTIVE OFFICER
                            a.icon-linkedin(href="https://www.linkedin.com/in/alexey-koloskov")
                        .team__img
                            img(src="img/team/Koloskov.jpg", alt="")
                    .team__short Alexey is a blockchain developer and the chief architect and creator of the Waves decentralised exchange (Waves’ DEX). He has extensive experience in building complex blockchain solutions …
                    .team__full
                        p Alexey is a blockchain developer and the chief architect and creator of the Waves decentralised exchange (Waves’ DEX). He has extensive experience in the development and management of complex banking software and in managing large scale IT projects. Over the past several years he has established a reputation as an active and expert participant within the blockchain development community. His work in blockchain development and exchange implementation provides ORION with unparalleled expertise and insight.
                        p “During development of the Waves DEX I became 100% assured of the need for decentralised systems. Still, there is a need for an intermediate solution that fills existing gaps and problems of liquidity, complexity and low speed, bringing together dozens of centralised and decentralised exchanges under one roof. ORION will constantly integrate new DEXs as they become more popular, according to its strategic plan of replacing centralised services”.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Kal Ali
                            .team__exp CHIEF OPERATING OFFICER
                            a.icon-linkedin(href="https://www.linkedin.com/in/kal-ali")
                        .team__img
                            img(src="img/team/Kal.jpg", alt="")
                    .team__short Founding partner at Kanix and Blockchain strategic advisor for several projects, specializing in business development and partnerships ...
                    .team__full
                        p Kal is a founding partner at Kanix and Blockchain strategic advisor for several projects, specializing in overall business development and partnerships. Holding a finance degree from Rutgers Business School, he brings expertise in the traditional financial sector to the cutting edge Blockchain space. Kal will not stop until he goes above and beyond the expectations set for him, a true perfectionist. 
                        p “I’m focusing on bringing the top-quality standards that are well-known for banking solutions to blockchain projects, to provide customers with smooth transitions between the two”.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Timothea Horwell
                            .team__exp CHIEF MARKETING OFFICER
                            a.icon-linkedin(href="https://www.linkedin.com/in/timotheahorwell")
                        .team__img
                            img(src="img/team/Timothea.png", alt="")
                    .team__short Timothea is a commercially-driven marketing and brand strategist, founding and leading the commercially successful Marketing & Research division at Telefonica...
                    .team__full
                        p Timothea Horwell is a commercially-driven marketing strategist with a focus on driving business growth and revenue. From developing business strategies for clients at a start-up incubator through to founding and leading the commercially successful Marketing & Research division at Telefonica, Timothea is passionate about growing businesses in the tech space - from start-up to scale-up to global conglomerate.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Yanush Ali
                            .team__exp Chief Strategy Officer
                            a.icon-linkedin(href="https://www.linkedin.com/in/yanush-ali-72056039")
                        .team__img
                            img(src="img/team/Yanush.jpg", alt="")
                    .team__short Co-Founder and Managing Partner of Kanix, and is an experienced strategic fundraising consultant, provided marketing for Holochain, Morpheus Network, and Pchain ...
                    .team__full
                        p Yanush is a Co-Founder and Managing Partner of Kanix, and is an experienced strategic fundraising consultant and cryptocurrency marketing expert whose specialty is advising and generating awareness for projects before and after their token sale. Yanush provided marketing and expertise for over eighteen noteworthy crypto projects including Holochain, Morpheus Network, and Pchain. He is also deeply ingrained and highly active in the crypto investment space, and has created and organically grew vibrant discussion communities to over 1,000 members.
                        p “When pitching the idea of the product to users I only use several word: ORION is all-in-one platform that you ever need for blockchain investment and trading”.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Eduardo Moreira
                            .team__exp Head of Development
                            a.icon-linkedin(href="https://www.linkedin.com/in/itdirectoreduardomoreira")
                        .team__img
                            img(src="img/team/Eduardo.jpg", alt="")
                    .team__short MBA from the Nottingham University Business School and CEO and founder of development firm EYSS, closely meshed within the Holochain ecosystem with intimate links to the Holo team ...
                    .team__full
                        p Eduardo holds an MBA from the Nottingham University Business School and is the CEO and founder of the Development firm EYSS, which is closely meshed within the Holochain ecosystem with intimate links to the Holo team. Eduardo and EYSS is responsible for being the leaders of the Holochain movement in Latin Americ. He also has many years of experience as an IT Director in various multinational companies but is now focused on helping others achieve efficiencies and positive market disruptions by using advanced technology. 
                        p “ORION significantly lowers the barrier to starting investing in cryptocurrencies and blockchain projects by removing the difficulties of finding the most promising instruments, creating wallets, transferring funds and controlling your earnings”.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name SIMON KRUSE
                            .team__exp LEAD BACKEND DEVELOPER
                            a.icon-linkedin(href="https://www.linkedin.com/in/simon-kruse-959287154")
                        .team__img
                            img(src="img/team/Kruse.jpg", alt="")
                    .team__short A professional Software developer, ambassador and blockchain fanatic from many other projects such as BountyOx and also Block Collider, helping them with management, advisory, and dev work …
                    .team__full
                        p A professional Software developer, ambassador and blockchain fanatic, Simon has many years of experience in planning and developing complex software projects. Simon has become quite a familiar face in the crypto community from helping several top projects with management, advisory, and dev work. He is an avid bug hunter with an intense focus on security, making him a perfect fit for the Orion team.
                        p “The architecture of our unique trading engine is specially tailored towards quickly and easily connecting new exchanges, in order to prepare for rapid growth”.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name EDUARD ZAYDEL
                            .team__exp LEAD FRONTEND ENGINEER
                            a.icon-linkedin(href="https://www.linkedin.com/in/eduardzaydel")
                        .team__img
                            img(src="img/team/Zaydel.jpg", alt="")
                    .team__short Eduard is a former Waves Wallet developer with considerable proficiency in user interface design. His work in the field will allow ORION to provide customers with a clean, ...
                    .team__full
                        p Eduard is a former Waves Wallet developer with considerable proficiency in user interface design. His work in the field will allow ORION to provide customers with a clean, functional and user-friendly interaction with investment tools. His experience in mobile interface design brings unmatched knowledge to the ORION team.
                        p “A simple-to-use UI is a key factor in the success of any IT product that seeks mass adoption. Buying and selling has to be no more complex than pressing a single button”.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name ALEX MASLAKOV
                            .team__exp LEAD BLOCKCHAIN ENGINEER
                            a.icon-linkedin(href="https://orionprotocol.io/www.linkedin.com/in/gilded-honour")
                        .team__img
                            img(src="img/team/Maslakov.jpg", alt="")
                    .team__short Blockchain RUST developer and consultant, responsible for implementing Orion dApps on Holochain ...
                    .team__full
                        p Alex is a Rust software developer and IT industry professional with active experience in several blockchain projects. He is also highly competent in web development and project management. These endeavors have provided him with a diverse skillset from which to draw when making decisions and planning for the future. He is responsible for implementing Orion dApps on Holochain in Rust.
                        p “ORION combines easy-to-use trading functionality with extensive portfolio management. Implementing such a solution is not possible without a core team of professionals united by a common goal”.

                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

    // end team

    // begin advisors
    section#advisors.team.section
        .container_center
            h2.section__title ADVISORS

            .team__list
                .team__item
                    .team__top
                        .team__left
                            .team__name David Atkinson
                            .team__exp Advisor
                            a.icon-linkedin(href="https://www.linkedin.com/in/davidcatkinson")
                        .team__img
                            img(src="img/team/David_A.jpg", alt="")
                    .team__short David is one of the core masterminds at Holo and loves to help people and businesses that are driven by purpose and a deep understanding and love for what they do...
                    .team__full David is one of the core masterminds at Holo and loves to help people and businesses that are driven by purpose and a deep understanding and love for what they do. He is a member of the leadership team and focuses on business, community, and ecosystem growth, all of which have been integral in Holochain and Holo’s immense achievements.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Damon Nam
                            .team__exp Advisor
                            a.icon-linkedin(href="https://www.linkedin.com/in/damonnam")
                        .team__img
                            img(src="img/team/Nam.jpg", alt="")
                    .team__short A 20 year IT professional, Microsoft alumnus, and currently the Founder and CEO of Coinvest. …
                    .team__full
                        p A 20 year IT professional, Microsoft alumnus, and currently the Founder and CEO of Coinvest; an emerging financial services and technology company in the blockchain industry.
                        p During his 16 year tenure at Microsoft, he assumed a number of different roles within the Microsoft Services organization. Among these roles were Technical Account Manager, Resource Manager and lastly US Services Program Director where he was responsible for driving and managing the Preferred Services Partner program for the US subsidiary; a program with approximately seventy-five partner organizations and a total book of business of over $90 million in revenue.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Jingyuan Ye
                            .team__exp Advisor
                            a.icon-linkedin(href="https://www.linkedin.com/in/damonnam")
                        .team__img
                            img(src="img/team/Ye.jpg", alt="")
                    .team__short The chairman of prominent digital asset management firm, Point95 Global. VP of Global Market Division at Bank of America Merrill Lynch …
                    .team__full
                        p Jingyuan is chairman of prominent digital asset management firm, Point95 Global. With over 10 years of experience in trading and portfolio management, he served as the chairman of PPS International (Holdings) Ltd (a HK listed company), Bank of America Merrill Lynch where he was the Vice President of Global Market Division, responsible for the risk and portfolio management of Equity Structured Products for EMEA.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

    // end advisors

block navbar
    ul.navbar
        li.navbar__item
            a.navbar__link(href="/") Home
        li.navbar__item
            a.navbar__link(href="about.html") About
        li.navbar__item
            a.navbar__link(href="https://medium.com/orion-protocol") Blog
        li.navbar__item
            a.navbar__link(href="#contacts", data-toggle="modal" data-target="#callback") Contact