extends template.pug

block content
    // begin fScreen
    section#home.fScreen.section
        .container_center
            .fScreen__content
                .fScreen__descr.fScreen__descr_noimg
                    .section__name
                    h1.section__title ABOUT US
                    .fScreen__about
                        p.fScreen__about__header The future is decentralized. And so are we.
                        p.fScreen__about__strong WE ARE ORION, the only DeFi platform creating a truly decentralized crypto landscape for businesses + consumers.
                        p.fScreen__about__text <b>We innovate. We evolve. But we stay true to the fundamentals of crypto.</b>
                        p.fScreen__about__text <b>Our trading terminal aggregates the liquidity of the entire crypto market into one place,</b> embedding robust tools for the most intelligent trades at the best price, every time. <b>Our Shared Liquidity Pool underpins our DeFi solutions,</b> built to provide the crypto market with the liquidity, accessibility, and growth it needs to succeed. <b>And at our core? Our ORN token,</b> the invaluable fuel powering our ecosystem.

    // end fScreen

    // begin team
    section#team.team.section
        .container_center
            h2.section__title TEAM

            .team__list
                .team__item
                    .team__top
                        .team__left
                            .team__name ALEXEY KOLOSKOV
                            .team__exp CHIEF EXECUTIVE OFFICER
                            a.icon-linkedin(href="https://www.linkedin.com/in/alexey-koloskov" target="_blank")
                        .team__img
                            img(src="img/team/Koloskov.jpg", alt="")
                    .team__short Alexey is a blockchain developer and the chief architect and creator of the Waves decentralised exchange (Waves’ DEX). He has extensive experience in building complex blockchain solutions …
                    .team__full
                        p Alexey is a blockchain developer and the chief architect and creator of the Waves decentralised exchange (Waves’ DEX). He has extensive experience in the development and management of complex banking software and in managing large scale IT projects. Over the past several years he has established a reputation as an active and expert participant within the blockchain development community. His work in blockchain development and exchange implementation provides ORION with unparalleled expertise and insight.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Kal Ali
                            .team__exp CHIEF OPERATING OFFICER
                            a.icon-linkedin(href="https://www.linkedin.com/in/kal-ali" target="_blank")
                        .team__img
                            img(src="img/team/Kal.jpg", alt="")
                    .team__short Founding partner at Kanix and Blockchain strategic advisor for several projects, specializing in business development and partnerships ...
                    .team__full
                        p Kal is a founding partner at Kanix and Blockchain strategic advisor for several projects, specializing in overall business development and partnerships. Holding a finance degree from Rutgers Business School, he brings expertise in the traditional financial sector to the cutting edge Blockchain space. Kal will not stop until he goes above and beyond the expectations set for him, a true perfectionist.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Timothea Horwell
                            .team__exp CHIEF MARKETING OFFICER
                            a.icon-linkedin(href="https://www.linkedin.com/in/timotheahorwell" target="_blank")
                        .team__img
                            img(src="img/team/Timothea.jpg", alt="")
                    .team__short Timothea is a commercially-driven marketing and brand strategist, founding and leading the commercially successful Marketing & Research division at Telefonica...
                    .team__full
                        p Timothea Horwell is a commercially-driven marketing strategist with a focus on driving business growth and revenue. From developing business strategies for clients at a start-up incubator through to founding and leading the commercially successful Marketing & Research division at Telefonica, Timothea is passionate about growing businesses in the tech space - from start-up to scale-up to global conglomerate.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Yanush Ali
                            .team__exp Chief Strategy Officer
                            a.icon-linkedin(href="https://www.linkedin.com/in/yanush-ali-72056039" target="_blank")
                        .team__img
                            img(src="img/team/Yanush.jpg", alt="")
                    .team__short Co-Founder and Managing Partner of Kanix, and is an experienced strategic fundraising consultant, provided marketing for Holochain, Quant Network, and Matrix AI ...
                    .team__full
                        p Yanush is a Co-Founder and former Managing Partner of Kanix, and is an experienced strategic consultant and cryptocurrency marketing expert whose specialty is advising and generating awareness for projects before and after their token sale. Yanush provided marketing and expertise for over eighteen noteworthy crypto projects including Holochain, Quant Network, and Matrix AI. He is also deeply ingrained and highly active in the crypto investment space, and has created and organically grew vibrant discussion communities to over 1,000 members.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Eduardo Moreira
                            .team__exp Head of Development
                            a.icon-linkedin(href="https://www.linkedin.com/in/itdirectoreduardomoreira" target="_blank")
                        .team__img
                            img(src="img/team/Eduardo.jpg", alt="")
                    .team__short MBA from the Nottingham University Business School and CEO and founder of development firm EYSS, closely meshed within the Holochain ecosystem with intimate links to the Holo team ...
                    .team__full
                        p Eduardo holds an MBA from the Nottingham University Business School and is the CEO and founder of the Development firm EYSS, which is closely meshed within the Holochain ecosystem with intimate links to the Holo team. Eduardo and EYSS is responsible for being the leaders of the Holochain movement in Latin Americ. He also has many years of experience as an IT Director in various multinational companies but is now focused on helping others achieve efficiencies and positive market disruptions by using advanced technology.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name SIMON KRUSE
                            .team__exp LEAD BLOCKCHAIN ENGINEER
                            a.icon-linkedin(href="https://www.linkedin.com/in/simon-kruse-959287154" target="_blank")
                        .team__img
                            img(src="img/team/Kruse.jpg", alt="")
                    .team__short A professional Software developer, ambassador and blockchain fanatic from many other projects such as BountyOx and also Block Collider, helping them with management, advisory, and dev work …
                    .team__full
                        p A professional Software developer, ambassador and blockchain fanatic, Simon has many years of experience in planning and developing complex software projects. Simon has become quite a familiar face in the crypto community from helping several top projects with management, advisory, and dev work. He is an avid bug hunter with an intense focus on security, making him a perfect fit for the Orion team.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more
                .team__item
                    .team__top
                        .team__left
                            .team__name NAIL FAKHRUTDINOV
                            .team__exp LEAD BACKEND DEVELOPER
                            a.icon-linkedin(href="https://www.linkedin.com/in/nail-fakhrutdinov-37698b186" target="_blank")
                        .team__img
                            img(src="img/team/Nail.jpg", alt="")
                    .team__short Experienced Java developer and consultant, responsible for implementing core Orion backend modules ...
                    .team__full
                        p NAIL is a Java/Scala software developer and IT industry professional with active experience in several blockchain projects. He is also highly competent in web development and project management. These endeavors have provided him with a diverse skillset from which to draw when making decisions and planning for the future. He is responsible for implementing Orion backend modules.

                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name EDUARD ZAYDEL
                            .team__exp LEAD FRONTEND DEVELOPER
                            a.icon-linkedin(href="https://www.linkedin.com/in/eduardzaydel" target="_blank")
                        .team__img
                            img(src="img/team/Zaydel.jpg", alt="")
                    .team__short Eduard is a former Waves Wallet developer with considerable proficiency in user interface design. His work in the field will allow ORION to provide customers with a clean, ...
                    .team__full
                        p Eduard is a former Waves Wallet developer with considerable proficiency in user interface design. His work in the field will allow ORION to provide customers with a clean, functional and user-friendly interaction with investment tools. His experience in mobile interface design brings unmatched knowledge to the ORION team.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

    // end team

    // begin advisors
    section#advisors.team.section
        .container_center
            h2.section__title ADVISORS

            .team__list
                .team__item
                    .team__top
                        .team__left
                            .team__name David Atkinson
                            .team__exp Advisor
                            a.icon-linkedin(href="https://www.linkedin.com/in/davidcatkinson" target="_blank")
                        .team__img
                            img(src="img/team/David_A.jpg", alt="")
                    .team__short David is one of the core masterminds at Holo and loves to help people and businesses that are driven by purpose and a deep understanding and love for what they do...
                    .team__full David is one of the core masterminds at Holo and loves to help people and businesses that are driven by purpose and a deep understanding and love for what they do. He is a member of the leadership team and focuses on business, community, and ecosystem growth, all of which have been integral in Holochain and Holo’s immense achievements.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Matt Jones
                            .team__exp Advisor
                            a.icon-linkedin(href="https://linkedin.com/in/mattjonesuk" target="_blank")
                        .team__img
                            img(src="img/team/Matt.jpg", alt="")
                    .team__short Client Partner at Accenture and is a passionate believer in the power of digital innovation …
                    .team__full
                        p Matt is currently Client Partner at Accenture, and is a passionate believer in the power of digital innovation to drive positive change. He has spent the last 20 years working with founders and c-suite executives to develop and launch digital products: delivering fundamental step changes to their organization. Matt’s area of expertise is bridging the gaps between marketing and technology, resulting in market-leading digital products experienced every day by millions of users around the globe.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Brad Townsend
                            .team__exp Advisor
                            a.icon-linkedin(href="https://linkedin.com/in/bradley-townsend-58ba53150" target="_blank")
                        .team__img
                            img(src="img/team/Brad.jpg", alt="")
                    .team__short A founder of Latitude Services and a successful service provider for projects such as Celer, Ferrum and Celsius. …
                    .team__full
                        p Bradley is an experienced growth enabler with an extensive business acumen spanning 5 years of sales and networking. He is presently driving growth for projects in the cryptocurrency space as one of the founders of Latitude Services, a successful service provider for projects such as Celer, Ferrum and Celsius. A strong presence in the blockchain space, Bradley has built an impressive network of both C-level executives and notable grass-roots thought leaders, which he leverages to strengthen the presence of new and running projects, supporting short term growth for sustainable long term development.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Oliver Birch
                            .team__exp Advisor
                            a.icon-linkedin(href="https://www.linkedin.com/in/oliverandbirch" target="_blank")
                        .team__img
                            img(src="img/team/Oliver.jpg", alt="")
                    .team__short VP Communications and Growth at Wanchain ...
                    .team__full
                        p Oliver graduated from Lancaster University with a BA (Hons) Philosophy, Politics and Economics. Oliver first got into the crypto space in 2011, researching and writing academic papers at university about the rise of bitcoin. Oliver helped set up the MeDiNova network in Spain. MeDiNova is a Site Management Organization (SMO) with a network of 34 Investigator Sites (now acquired by ICON plc). Its principal aim is to conduct clinical trials for pharmaceutical companies. He is currently VP Communications and Growth at Wanchain.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Pranav Sharma
                            .team__exp Advisor
                            a.icon-linkedin(href="https://linkedin.com/in/pranav-sharma-7a05b13" target="_blank")
                        .team__img
                            img(src="img/team/Pranav.jpg", alt="")
                    .team__short Co-founder & Managing Partner at Woodstock Fund & Alpha Omega Capital ...
                    .team__full
                        p Pranav has over 15 years of leadership experience covering Business development, sales & distribution, asset management, private equity & insurance. He is passionate about entrepreneurship, technology and renewable energy. Pranav is currently Co-founder & Managing Partner at Woodstock Fund where they focus on Public DLT, DeFi & Web 3.0 protocols & applications. He is also Managing Partner - Alpha Omega Capital Partners (Tokenized Fund focused on Security token ecosystem) & Advisor - Alliance Block (Decentralized Investment Banking Platform).
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

                .team__item
                    .team__top
                        .team__left
                            .team__name Damon Nam
                            .team__exp Advisor
                            a.icon-linkedin(href="https://www.linkedin.com/in/damonnam" target="_blank")
                        .team__img
                            img(src="img/team/Nam.jpg", alt="")
                    .team__short A 20 year IT professional, Microsoft alumnus, and currently the Founder and CEO of Coinvest. …
                    .team__full
                        p A 20 year IT professional, Microsoft alumnus, and currently the Founder and CEO of Coinvest; an emerging financial services and technology company in the blockchain industry.
                        p During his 16 year tenure at Microsoft, he assumed a number of different roles within the Microsoft Services organization. Among these roles were Technical Account Manager, Resource Manager and lastly US Services Program Director where he was responsible for driving and managing the Preferred Services Partner program for the US subsidiary; a program with approximately seventy-five partner organizations and a total book of business of over $90 million in revenue.
                    .team__bottom
                        a.team__more(href="#" data-more="Read more" data-less="Read less") Read more

    // end advisors

block navbar
    ul.navbar
        li.navbar__item
            a.navbar__link(href="/") Home
        li.navbar__item
            a.navbar__link(href="about.html") About
        li.navbar__item
            a.navbar__link(href="https://blog.orionprotocol.io/homepage" target="_blank") Blog
        li.navbar__item
            a.navbar__link(href="#contacts", data-toggle="modal" data-target="#callback") Contact