extends template.pug

block content

    // begin fScreen
    section#home.fScreen.section
        .container_center
            .fScreen__content
                .fScreen__img
                    img(src="img/f-img.png", alt="")

                .fScreen__descr
                    h1.section__title DeFi is the Future. We’re Already Here.
                    .fScreen__sub Industry-first DeFi solutions built on our advanced Liquidity Aggregator.
                    .fScreen__action
                        a.btn(href="./pitch-deck.pdf", target="_blank") Join the Future

    // end fScreen

    // begin traiding
    section#trading.traiding.section
        .container_center
            .traiding__content
                .traiding__img
                    img(src="img/traiding-img.png", alt="Traiding terminal")
                .traiding__descr
                    .section__name orion terminal
                    h2.section__title The Only Trading Terminal You Need.
                    .traiding__subtitle
                        p 100+ exchanges.
                        p 1,000+ coins.
                        p 10,000+ trading pairs.
                        p.highlight Zero risk.
                    .traiding__text <b>Orion Terminal </b>seamlessly aggregates bottomless liquidity from <b>all major exchanges, </b>centralized + decentralized: providing rich trading tools in one easy to use platform.
                    .traiding__action
                        button.btn(data-toggle="modal", data-target="#forInvestors") Beta Signup

    // end traiding

    // begin features
    section#features.features.section
        .container_center
            .features__content
                .features__left
                    .section__name features
                    h2.section__title The Crypto Market Has Too Many Exchanges + Not Enough Liquidity.
                        span Until Now.
                    //- .features__action
                        button.btn(data-toggle="modal" data-target="#callback") Get in touch

                .features__right
                    .features__list
                        .features__item
                            .features__icon
                                img(src="img/features-1.svg", alt="")
                            .features__name Always Own Your Personal Assets
                            .features__text Custody has always been an issue in crypto, until now. Trade with the liquidity of the entire crypto market while still having custody of your assets.
                        .features__item
                            .features__icon
                                img(src="img/features-2.svg", alt="")
                            .features__name Access Liquidity <br>in One Place
                            .features__text Orion encompasses the liquidity of all centralized and decentralized exchanges in one seamlessly aggregated order book, allowing you to buy or sell your assets at the best price, every time.
                        .features__item
                            .features__icon
                                img(src="img/features-5.svg", alt="")
                            .features__name Arbitrage <br/> Opportunities
                            .features__text Orion searches for the best prices on the market, and allows for easy arbitrage execution without funding accounts on multiple exchanges.
                        .features__item
                            .features__icon
                                img(src="img/features-4.svg", alt="")
                            .features__name Robust <br>Trading Tools
                            .features__text Embedded within the terminal are intuitive tools that provide you with all of the news, market analysis, and trading signals in real- time to conduct successful trades.

    // end features

    // begin earning
    section#earning.earning.section
        .container_center
            .earning__content
                .earning__img
                    img(src="img/earning.png", alt="")
                .earning__desc
                    .section__name shared liquidity pool
                    h2.section__title Why Aren’t You Earning Risk-Free Passive Income?
                    .earning__text Orion’s unique shared liquidity pool is the core element of the platform. It underpins Orion’s core functions such as achieving governance, fulfilling trades, and accessing liquidity across the markets. Individuals that stake assets in the pool will enjoy high-yield, non-inflationary, passive income on their digital assets. <b>It’s that simple.</b>
                    //- .earning__action
                        button.btn(data-toggle="modal" data-target="#callback") Get in touch

    // end earning

    // begin product
    section#defi.product.section
        .container_center
            .product__content
                .product__descr
                    .section__name our products
                    .product__change
                        h2.section__title.product__descr__title We Are DeFi.
                        .product__descr__text We’re not just another crypto exchange. We’re an all in one DeFi platform that supplies much needed solutions for businesses and consumers alike.

                .product__solution
                    .product__slider

                        .product__item
                            .product__solution__header
                                .features__icon
                                    img(src="img/product-1.png" alt="")
                                .product__solution__title <b>Orion</b><br> Liquidity Boost Plugin
                            .product__solution__text Exchanges that lack volume may tap into Orion’s aggregated order books to add immediate liquidity to their exchange.
                            .product__action
                                a.btn(href="liquidity-boost.pdf" target="_blank") Learn More

                        .product__item
                            .product__solution__header
                                .features__icon
                                    img(src="img/product-2.png" alt="")
                                .product__solution__title <b>Orion</b><br> Blockchain DEX Kit
                            .product__solution__text Allows blockchain projects to quickly build robust dexes with endless, instant liquidity using Orion’s aggregator.
                            .product__action
                                a.btn(href="dex-launch-kit.pdf" target="_blank") Learn More

                        .product__item
                            .product__solution__header
                                .features__icon
                                    img(src="img/product-3.png" alt="")
                                .product__solution__title <b>Orion</b><br> Enterprise Trade
                            .product__solution__text Projects utilize this feature to fulfill large token orders placed by enterprise clients directly from the open market at the best price.
                            .product__action
                                    a.btn(href="enterprise-trade.pdf" target="_blank") Learn More

    // end product

    // begin partners
    section#partners.partners.section
        .container_center
            .partners__content
                .partners__list
                    .partners__item
                        .partners__icon
                            img(src="img/partners-1.svg", alt="")
                        .partners__name wanchain
                        .partners__title Jack Lu
                        .partners__txt "The vision at Orion is very similar to ours in connecting the world’s digital assets through a seamless experience."
                    .partners__item
                        .partners__icon
                            img(src="img/partners-4.png", alt="")
                        .partners__name holochain
                        .partners__title David Atkinson
                        .partners__txt "We are very excited to have Orion be part of the early wave of hApps. Orion is an extremely promising hApp and we’re thrilled to see what they bring to the ecosystem."
                    .partners__item
                        .partners__icon
                            img(src="img/partners-3.svg", alt="")
                        .partners__name elrond
                        .partners__title Beniamin Mincu
                        .partners__txt "Orion has the right tools and approach for achieving this goal, and needs fast infrastructure & interoperability to come to life."
                    .partners__item
                        .partners__icon
                            img(src="img/partners-2.png", alt="")
                        .partners__name certik
                        .partners__title Ronghui Gu
                        .partners__txt "CertiK is proud to work with innovators and thought leaders like Orion to build a safer blockchain ecosystem, together."

                .partners__descr
                    .section__name our partners
                    h2.section__title Partnerships <br>That Matter.
                    .partners__text Our partners are not just for optics. We’ve hand chosen the very best companies to partner with to further our mission of creating a complete DeFi solution.
                    //- .partners__action
                        button.btn(data-toggle="modal" data-target="#callback") Get in Touch


    // end partners

block navbar
    ul.navbar
        li.navbar__item
            a.navbar__link(href="#home") Home
        li.navbar__item
            a.navbar__link(href="about.html") About
        li.navbar__item
            a.navbar__link(href="#trading") Trading Terminal
        li.navbar__item
            a.navbar__link(href="#defi") DeFi Solutions
        li.navbar__item
            a.navbar__link(href="https://medium.com/orion-protocol", target="_blank") Blog
        li.navbar__item
            a.navbar__link(href="#contacts", data-toggle="modal" data-target="#callback") Contact