-var version = '1.4';
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Orion Protocol
        meta(content="Industry-first DeFi solutions built on our advanced Liquidity Aggregator." name="description")
        meta(content="article" property="og:type")
        meta(content="en-US" property="og:locale")
        meta(content="Orion Protocol" property="og:title")
        meta(content="Industry-first DeFi solutions built on our advanced Liquidity Aggregator." property="og:description")
        meta(content="https://orionprotocol.io/orion_home.jpg" property="og:image")
        meta(content="https://orionprotocol.io/orion_home.jpg" property="og:image:secure_url")
        meta(content="1400" property="og:image:width")
        meta(content="933" property="og:image:height")
        meta(content="https://orionprotocol.io" property="og:url")
        meta(content="The Orion Protocol" property="og:site_name")

        meta(content="summary_large_image" property="twitter:card")
        meta(content="Orion Protocol" property="twitter:title")
        meta(content="Industry-first DeFi solutions built on our advanced Liquidity Aggregator." property="twitter:description")
        meta(content="https://orionprotocol.io/orion_home.jpg" property="twitter:image")
        meta(content="@orion_protocol" name="twitter:site")
        meta(content="@orion_protocol" name="twitter:creator")

        link(rel="stylesheet", type="text/css", href="css/style.css?" + version + "")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon" )
        link(rel="apple-touch-icon" href="/apple-touch-icon.png" )
        link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" )
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" )
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" )
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" )
        link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" )
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" )
        link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" )
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" )

        block scripts
            script(async src='https://www.googletagmanager.com/gtag/js?id=UA-157146721-1')

            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-157146721-1');

    body
        header.header
            .header__content
                .navbar__toggle
                .header__left
                    a.logo(href="/")
                        img(src="img/logo.png", alt="ORION")
                .header__group
                    nav.header__center
                        block navbar

        main.main_content
            block content

        footer.footer#contacts
            .footer__content
                .footer__top
                    a.logo(href="/")
                        img(src="img/logo.png", alt="")

                    ul.soc
                        li.soc__item
                            a.icon-telegram(href="https://t.me/orionprotocol" target="_blank")
                        li.soc__item
                            a.icon-github(href="https://github.com/orionprotocol" target="_blank")
                        li.soc__item
                            a.icon-linkedin(href="https://www.linkedin.com/company/orion-protocol" target="_blank")
                        li.soc__item
                            a.icon-twitter(href="https://twitter.com/orion_protocol" target="_blank")

                .footer__nav
                    block navbar

                .footer__bottom
                    .footer__copy © Orion 2020, All rights reserved.
                    //- .footer__dev made by 
                        a(href="#", target="_blank") roobinium

    // Begin Modal callback
    .modal.fade.callback#callback
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Get in Touch
                .modal-body
                    form.form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdgXqNZyAxQ6dp85Nd57IOboR0D1G6gnCb0vEkns7KGq2z8OA/formResponse" method="post")
                        input.ja_antispam(type="hidden")
                        .form__row
                            input(type="text" name="entry.586847119" placeholder="Name" required)
                        .form__row
                            input(type="email" data-email="" name="emailAddress" placeholder="Email" required)
                        .form__row
                            select(name="entry.1458313461" required data-placeholder="Select Subject")
                                option(value="")
                                option(value="Investment") Investment
                                option(value="Partnership") Partnership
                                option(value="Beta access") Beta access
                                option(value="General questions") General questions
                        .form__row
                            textarea(name="entry.1426938699" placeholder="Message" required)
                        .form__action
                            button.btn(type="submit") Send
                    .form__rezult
    // End modal callback

    // Begin Modal forInvestors
    .modal.fade.callback#forInvestors
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Request Beta Access
                .modal-body
                    form.form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfF6jVO_wTHWtrJEa0nP6MVtNU77utWHXOiJRT83Y2wugU8mQ/formResponse" method="post")
                        input.ja_antispam(type="hidden")
                        .form__row
                            input(type="text" name="entry.38228649" placeholder="Name" required)
                        .form__row
                            input(type="email" data-email="" name="emailAddress" placeholder="Email" required)
                        .form__row
                            input(type="text" name="entry.1131517323" placeholder="Telegram Username")
                        .form__row
                            .modal-title What would like to use Orion for?
                            .checkboxes
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Personal Trading") 
                                    |Personal Trading
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Institutional Trading") 
                                    |Institutional Trading
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Boost Liquidity for your Exchange") 
                                    |Boost Liquidity for your Exchange
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Build your own DEX") 
                                    |Build your own DEX
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Accept Payments") 
                                    |Accept Payments
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Wallet Integration") 
                                    |Wallet Integration
                                label
                                    input(type="checkbox" name="entry.1718357508" value="AI Trading Bots") 
                                    |AI Trading Bots
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Market Making") 
                                    |Market Making
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Run your IEO") 
                                    |Run your IEO
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Enterprise") 
                                    |Enterprise
                                label
                                    input.js_other_trigger(type="checkbox") 
                                    |Other
                            input.js_other(type="hidden", name="entry.1718357508.other_option_response")
                        .form__action
                            button.btn(type="submit") Send

                    .form__rezult 
    // End modal forInvestors

    script(src="js/jquery.js")
    script(src="js/modal.js")
    script(src="js/slick.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js")
    script(src="js/function.js?"+version+"")
