-var version = '1.3';
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ORION

        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body
        header.header
            .header__content
                .navbar__toggle
                .header__left
                    a.logo(href="/")
                        img(src="img/logo.png", alt="ORION")
                .header__group
                    nav.header__center
                        ul.navbar
                            -var nav = ['About', 'Trading Desk', 'DeFi Solutions', 'Blog', 'Contact'];
                            each value in nav
                                li.navbar__item
                                    a.navbar__link(href="#" data-scroll-to="")= value
                    .header__right
                        .lang
                            .lang__flag
                                img(src="img/US.svg", alt="United States")
                            |EN
                        .header__action
                            button.btn(data-toggle="modal" data-target="#callback") Get in Touch

        main.main_content
            block content

        footer.footer
            .footer__content
                .footer__top
                    a.logo(href="#")
                        img(src="img/logo.png", alt="")
                    .lang
                        .lang__flag
                            img(src="img/US.svg", alt="United States")
                    .form.form_inline
                        input(type="text" placeholder="Email")
                        button.btn(type="submit") 
                            i.icon-caret

                    ul.soc
                        li.soc__item
                            a.icon-telegram(href="#")
                        li.soc__item
                            a.icon-bitcoin(href="#")
                        li.soc__item
                            a.icon-facebook(href="#")
                        li.soc__item
                            a.icon-github(href="#")
                        li.soc__item
                            a.icon-linkedin(href="#")
                        li.soc__item
                            a.icon-youtube(href="#")
                        li.soc__item
                            a.icon-twitter(href="#")

                .footer__nav
                    ul.navbar
                        li.navbar__item
                            a.navbar__link(href="#") Home
                        li.navbar__item
                            a.navbar__link(href="#") About
                        li.navbar__item
                            a.navbar__link(href="#") Trading desk
                        li.navbar__item
                            a.navbar__link(href="#") DeFi Solutions
                        li.navbar__item
                            a.navbar__link(href="#") Blog
                        li.navbar__item
                            a.navbar__link(href="#") Contact

                .footer__bottom
                    .footer__copy © Orion 2019, All rights reserved.
                    a(href="#") Terms & Conditions
                    a(href="#") Privacy Policy
                    a(href="#") Sales & Refunds
                    a(href="#") Legal
                    .footer__dev made by 
                        a(href="#", target="_blank") roobinium

    // Begin Modal callback
    .modal.fade.callback#callback
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Get in Touch
                .modal-body
                    form.form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdgXqNZyAxQ6dp85Nd57IOboR0D1G6gnCb0vEkns7KGq2z8OA/formResponse" method="post")
                        input.ja_antispam(type="hidden")
                        .form__row
                            input(type="email" data-email="" name="emailAddress" placeholder="Email" required)
                        .form__row
                            input(type="text" name="entry.586847119" placeholder="Name" required)
                        .form__row
                            select(name="entry.1458313461" required data-placeholder="Select Subject")
                                option(value="")
                                option(value="Investment") Investment
                                option(value="Partnership") Partnership
                                option(value="Beta access") Beta access
                                option(value="General questions") General questions
                        .form__row
                            textarea(name="entry.1426938699" placeholder="Message" required)
                        .form__action
                            button.btn(type="submit") Send
                    .form__rezult
    // End modal callback

    // Begin Modal forInvestors
    .modal.fade.callback#forInvestors
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Get in Touch
                .modal-body
                    form.form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfF6jVO_wTHWtrJEa0nP6MVtNU77utWHXOiJRT83Y2wugU8mQ/formResponse" method="post")
                        .form__row
                            input(type="email" data-email="" name="emailAddress" placeholder="Email" required)
                        .form__row
                            input(type="text" name="entry.38228649" placeholder="Name" required)
                        .form__row
                            input(type="text" name="entry.1131517323" placeholder="Telegram Username")
                        .form__row
                            .modal-title What would like to use Orion for?
                            .checkboxes
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Personal Trading") 
                                    |Personal Trading
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Institutional Trading") 
                                    |Institutional Trading
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Boost Liquidity for your Exchange") 
                                    |Boost Liquidity for your Exchange
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Build your own DEX") 
                                    |Build your own DEX
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Accept Payments") 
                                    |Accept Payments
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Wallet Integration") 
                                    |Wallet Integration
                                label
                                    input(type="checkbox" name="entry.1718357508" value="AI Trading Bots") 
                                    |AI Trading Bots
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Market Making") 
                                    |Market Making
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Run your IEO") 
                                    |Run your IEO
                                label
                                    input(type="checkbox" name="entry.1718357508" value="Enterprise") 
                                    |Enterprise
                                label
                                    input.js_other_trigger(type="checkbox") 
                                    |Other
                            input.js_other(type="hidden", name="entry.1718357508.other_option_response")
                        .form__action
                            button.btn(type="submit") Send

                    .form__rezult 
    // End modal forInvestors

    script(src="js/jquery.js")
    script(src="js/modal.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js")
    script(src="js/function.js?"+version+"")
